.vx-section-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.vx-section-title {
  color: var(--header-primary);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  flex: 1;
  cursor: default;
  font-family: var(--font-display);
}
.vx-section-buttons {
  display: flex;
  gap: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  align-items: center;
}
.vx-section-info {
  padding: 8px 10px;
  user-select: text;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.vx-section-info-menu {
  padding: 4px 6px;
}
.vx-section-info > div {
  color: var(--text-muted);
  display: inline-block;
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.vx-section-hash.vx-section-devmode {
  color: var(--text-danger);
}
.vx-section-info > .vx-section-git {
  cursor: pointer;
}

.vx-header-button .vx-button-inner {
  color: var(--interactive-normal);
  /* background: var(--background-modifier-accent); */
  padding: 4px;
  border-radius: 4px;
}
.vx-header-button:hover .vx-button-inner {
  color: var(--interactive-hover);
  background: var(--background-modifier-hover);
}
.vx-header-button:hover:active .vx-button-inner {
  color: var(--interactive-active);
  background: var(--background-modifier-active);
}

#vx-home-button {
  transition: background-color .15s ease-out, color .15s ease-out;
  background-color: var(--background-primary);
  color: var(--text-normal);
  margin: 0 12px 8px 12px;
  padding: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 550;
}
#vx-home-button:hover {
  color: var(--white-500);
  background-color: var(--brand-experiment);
}

.vx-titlebar-button {
  color: var(--interactive-normal);
  position: relative;
  top: -4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 28px;
  height: 22px;
  pointer-events: auto;
  -webkit-app-region: no-drag;
  /* Currently disable it */
  display: none;
}
.vx-titlebar-button:not(.vx-titlebar-disabled):hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-hover);
}
.vx-titlebar-button:not(.vx-titlebar-disabled):active {
  background-color: var(--background-modifier-active);
  color: var(--interactive-active);
}
.vx-titlebar-disabled {
  color: var(--interactive-muted);
  cursor: not-allowed;
}
.vx-titlebar-loading {
  color: var(--brand-experiment);
  animation: fadeInOut 2s infinite;
  cursor: unset;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}