.vx-section-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.vx-section-title {
  color: var(--header-primary);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  flex: 1;
  cursor: default;
  font-family: var(--font-display);
}
.vx-section-buttons {
  display: flex;
  gap: 8px;
}
.vx-section-info {
  padding: 8px 10px;
  user-select: text;
}
.vx-section-info > div {
  color: var(--text-muted);
  display: inline-block;
  width: 100%;
  font-family: var(--font-primary);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.vx-section-devmode {
  color: var(--text-danger);
}