.vx-addon-card {
  background: var(--background-tertiary);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 200ms ease-in-out;
}
.vx-addon-card:is(:hover, :focus-within) {
  transform: translateY(-1px);
  box-shadow: var(--shadow-low-hover);
}
.vx-addon-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.vx-addon-icon-wrapper {
  display: flex;
  padding: 8px;
  background: var(--background-secondary);
  border-radius: 6px;
  color: var(--text-primary);
}
.vx-addon-authors {
  display: flex;
}
.vx-addon-authors > svg:not(:first-of-type) {
  margin-left: -3px;
}
.vx-addon-author {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-size: cover;
}
.vx-addon-author:not(.vx-addon-disabled) {
  cursor: pointer;
}
.vx-addon-divider {
  height: 1px;
  background: var(--background-secondary);
}
.vx-addon-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.vx-addon-description {
  color: var(--text-normal);
  user-select: text;
}
.vx-addon-name {
  color: var(--text-primary);
  font-size: larger;
  font-weight: 450;
  position: relative;
}
.vx-addon-actions {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  align-items: center;
  flex: 1 1 auto;
}
.vx-addons-warning {
  background-color: var(--background-mentioned);
  border: var(--info-warning-foreground) 1px solid;
  padding: 8px;
  margin-bottom: 12px;
  border-radius: 3px;
  color: var(--text-normal);
  display: flex;
  align-items: center;
  gap: 6px;
}
.vx-addons-icon {
  color: var(--text-warning);
}
.vx-collapsable-section {
  margin-top: 8px;
}
.vx-ext-message {
  color: var(--text-normal);
  margin-bottom: 8px;
  white-space: pre-line;
}
.vx-addon-footer {
  display: flex;
  gap: 8px;
}
.vx-addon-action {
  display: flex;
  cursor: pointer;
	color: var(--interactive-normal);
}
.vx-addon-action:hover {
	color: var(--interactive-hover);
}
.vx-addon-action:hover:active {
	color: var(--interactive-active);
}
.vx-addon-disabled {
  cursor: not-allowed !important;
  color: var(--interactive-muted) !important;
}
.vx-addon-input {
  font-family: var(--font-display);
  font-weight: 450;
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  padding: 0 6px;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  border-radius: 3px;
  -webkit-app-region: no-drag;
  background: transparent;
  color: var(--text-normal);
  box-sizing: border-box;
}
input.vx-addon-input {
  position: absolute;
  left: 0px;
  width: 100%;
}
input.vx-addon-input:focus {
  background-color: var(--background-secondary);
  -webkit-box-shadow: inset 0 0 0 1px var(--background-tertiary);
  box-shadow: inset 0 0 0 1px var(--background-tertiary);
}
input.vx-addon-input:not(:focus) {
  opacity: 0;
}
.vx-addon-name:hover > .vx-input {
  box-shadow: inset 0 0 0 1px var(--background-tertiary);
}
.vx-addons-empty-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.vx-addons-empty-text {
  margin: 20px auto 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--text-secondary);
}
.vx-addons-empty {
  padding-bottom: 40px;
}
.vx-home-header {
  display: flex;
  gap: 12px;
}
.vx-home-logo {
  display: flex;
  position: relative;
    -webkit-mask: url(https://discord.com/assets/abb68ef84648ccf3be81.svg) 0 0 / 100% 100%;
    mask: url(https://discord.com/assets/abb68ef84648ccf3be81.svg) 0 0 / 100% 100%;
}
.vx-home-logo img {
  height: 100px;
  width: 100px;
}
.vx-home-logo .vx-icon-logo {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.vx-home-welcome {
  color: var(--header-primary);
  font-weight: var(--font-weight-medium);
  font-size: x-large;
}
.vx-home-body {
  background: var(--background-secondary);
  padding: 6px;
  border-radius: 4px;
}