.vx-addon-card {
  background: var(--background-tertiary);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 200ms ease-in-out;
}
.vx-addon-card:is(:hover, :focus-within) {
  transform: translateY(-1px);
  box-shadow: var(--shadow-low-hover);
}
.vx-addon-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.vx-addon-icon-wrapper {
  display: flex;
  padding: 8px;
  background: var(--background-secondary);
  border-radius: 6px;
  color: var(--text-primary);
  overflow: hidden;
}
.vx-addon-authors {
  display: flex;
}
.vx-addon-authors > svg:not(:first-of-type) {
  margin-left: -3px;
}
.vx-addon-author {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-size: cover;
}
.vx-addon-author:not(.vx-addon-disabled) {
  cursor: pointer;
}
.vx-addon-divider {
  height: 1px;
  background: var(--background-secondary);
}
.vx-addon-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  flex: 1 0 auto;
}
.vx-addon-description {
  color: var(--text-normal);
  user-select: text;
}
.vx-addon-new {
  height: .9375rem;
  padding: 0 .275rem;
  border-radius: 4px;
  top: .1rem;
  background: var(--status-danger-background);
  color: var(--status-danger-text);
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  text-indent: 0;
  font-size: .8rem;
  line-height: .9375rem;
  position: relative;
  font-weight: 600;
  vertical-align: top;
}
.vx-addon-name {
  color: var(--text-primary);
  font-size: larger;
  font-weight: 450;
  position: relative;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}
.vx-addon-actions {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
  align-items: center;
  flex: 1 1 auto;
}
.vx-addon-header-icon {
  color: var(--text-muted);
  display: flex;
  transition: color .10s ease-in-out;
}
.vx-addon-warn {
  color: var(--text-warning);
}
.vx-collapsable-section {
  margin-top: 8px;
}
.vx-ext-message {
  color: var(--text-normal);
  margin-bottom: 8px;
  white-space: pre-line;
}
.vx-addon-footer {
  display: flex;
  gap: 8px;
}
.vx-addon-action {
  display: flex;
  cursor: pointer;
	color: var(--interactive-normal);
}
.vx-addon-action:hover {
	color: var(--interactive-hover);
}
.vx-addon-action:hover:active {
	color: var(--interactive-active);
}
.vx-addon-disabled {
  cursor: not-allowed !important;
  color: var(--interactive-muted) !important;
}
.vx-addon-input {
  font-family: var(--font-display);
  font-weight: 450;
  font-size: 16px;
  line-height: 32px;
  height: 32px;
  padding: 0 6px;
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  border-radius: 3px;
  -webkit-app-region: no-drag;
  background: transparent;
  color: var(--text-normal);
  box-sizing: border-box;
}
input.vx-addon-input {
  position: absolute;
  left: 0px;
  width: 100%;
}
input.vx-addon-input:focus {
  background-color: var(--background-secondary);
  -webkit-box-shadow: inset 0 0 0 1px var(--background-tertiary);
  box-shadow: inset 0 0 0 1px var(--background-tertiary);
}
input.vx-addon-input:not(:focus) {
  opacity: 0;
}
.vx-addon-name:hover > .vx-input {
  box-shadow: inset 0 0 0 1px var(--background-tertiary);
}
.vx-addon-empty-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.vx-addon-empty-text {
  margin: 20px auto 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--text-secondary);
}
.vx-addon-empty {
  padding-bottom: 40px;
}
.vx-home-header {
  display: flex;
  gap: 12px;
}
.vx-home-logo {
  display: flex;
  position: relative;
  -webkit-mask: url(https://discord.com/assets/abb68ef84648ccf3be81.svg) 0 0 / 100% 100%;
  mask: url(https://discord.com/assets/abb68ef84648ccf3be81.svg) 0 0 / 100% 100%;
}
.vx-home-logo img {
  height: 100px;
  width: 100px;
}
.vx-home-logo .vx-icon-logo {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.vx-home-welcome {
  color: var(--header-primary);
  font-weight: var(--font-weight-medium);
  font-size: x-large;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.vx-home-body {
  background: var(--background-secondary);
  padding: 6px;
  border-radius: 4px;
}
.vx-updater {
  background: var(--background-secondary);
  padding: 6px;
  border-radius: 4px;
  color: var(--text-normal);
  margin-top: 8px;
  border: 1px solid var(--background-secondary-alt);
}

.vx-addon-icon-wrapper.vx-addon-icon-img {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}
.vx-addon-icon-img .vx-addon-icon {
  width: 48px;
  height: 48px;
}
.vx-addon-version {
  color: var(--text-muted);
}

.vx-addon-warning {
  background: var(--info-warning-background);
  border: 1px solid var(--info-warning-foreground);
  padding: 6px;
  border-radius: 6px;
  color: var(--info-warning-text);
  display: flex;
  gap: 6px;
  align-items: center;
}
.vx-addon-action .vx-icon-github {
  padding: 1px;
}

.vx-addon-name .vx-addon-version {
  font-size: 1rem;
  align-self: flex-end;
}
.vx-addon-website {
  border-radius: 4px;
  background-color: var(--background-secondary);
}

.vx-sidebar-header {
  padding: 6px 10px;
  color: var(--channels-default);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.vx-sidebar-text {
  font-family: var(--font-display);
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .02em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  flex: 1 0 auto;
}
.vx-sidebar-icon {
  display: flex;
}