.vx-button-inner {
  display: flex;
}
.vx-modal-title {
  color: var(--header-primary);
  font-family: var(--font-display);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  flex: 1 0 auto;
}
.doggybootsy-editor {
  display: block;
}

[class*="codeContainer_"] {
  position: relative;
}
[class*="codeContainer_"]:hover [class*="codeActions_"] {
  display: block;
}
[class*="codeContainer_"] code {
  user-select: text;
}
[class*="codeActions_"] {
  position: absolute;
  display: none;
  right: 4px;
  top: 8px;
  color: var(--text-normal);
  cursor: pointer;
}

.vx-loader-icon {
  position: fixed;
  bottom: 4px;
  left: 4px;
  display: flex;
  color: var(--interactive-normal);
  z-index: 3000;
}

.vx-react-error-view {
  background-image: url(https://discord.com/assets/14223d22c9628be36fc0.svg);
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-size: cover;
  color: var(--text-normal);
  background-color: var(--background-secondary);
  background-position: 50% 0;
  z-index: 10000;
}
.theme-light .vx-react-error-view {
  background-image: url(https://discord.com/assets/1c04c4fae98fbfc21d22.svg);
}
.vx-react-error-view-flex {
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  height: 100vh;
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;
}
.vx-react-error-view-image {
  background-image: url(https://discord.com/assets/72eaa596042042be6259.svg);
  width: 254px;
  height: 154px;
  margin-bottom: 40px;
  background-size: 100% 100%;
  flex: 0 1 auto;
}
.theme-light .vx-react-error-view-image {
  background-image: url(https://discord.com/assets/1c04c4fae98fbfc21d22.svg);
}
.vx-react-error-view-text {
  width: 440px;
  margin-bottom: 20px;
  flex: 0 1 auto;
}
.vx-react-error-view-title {
  font-size: 24px;
  line-height: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  text-align: center;
  color: var(--header-primary);
}
.vx-react-error-view-note {
  font-size: 16px;
  text-align: center;
  color: var(--text-muted);
}
.vx-react-error-view-buttons {
  display: flex;
}
.vx-react-error-view-tools-container {
  flex: 0 0 36px;
  margin-right: 35px;
  width: 60px;
  padding-top: 60px;
  position: absolute;
  right: 0;
  top: 0;
}
.vx-react-error-view-tools {
  position: fixed;
}
.vx-react-error-view-close-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vx-react-error-view-close-button {
  color: var(--interactive-normal);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 36px;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  box-sizing: border-box;
}
.vx-react-error-view-close-button:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
}
.vx-react-error-view-keybind {
  color: var(--interactive-normal);
  margin-top: 8px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}

.vx-react-error-recovery-note {
  color: var(--text-normal)
}
#vx-react-error-recovery-header {
  margin-bottom: 8px;
}

.vx-loading-popout {
  background-color: var(--background-secondary);
  display: flex;
  justify-content: center;
  padding: 8px;
}

.vx-textarea-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.vx-textarea-button-inner {
  padding: 4px;
  margin-left: 4px;
  margin-right: 4px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--interactive-normal);
}

[class*=userProfileModalInner_] [class^=body_] > [class*=overlay_] {
  flex-grow: 1;
}

[class*=userProfileModalInner_] [class^=body_] > [class*=overlay_] > [class^=container_] {
  height: 100%;
}