.vx-dashboard {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: var(--bg-overlay-chat, var(--background-primary));
  flex: 1 1 auto;

  &-content {
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: -1px;
      left: 0;
      right: 0;
      height: 1px;
      -webkit-box-shadow: var(--elevation-low);
      box-shadow: var(--elevation-low);
      z-index: 1;
      pointer-events: none;
    }
  }

  &-main {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    flex: 1 1 auto;
    background: var(--bg-overlay-chat, var(--background-primary));
  }

  &-scroller {
    overflow: hidden scroll;
    
    &::-webkit-scrollbar {
      width: 16px;
      height: 16px;
    }
    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-auto-track);
      margin-bottom: 8px;
      border: 4px solid transparent;
      background-clip: padding-box;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-auto-thumb);
      min-height: 40px;
      border: 4px solid transparent;
      background-clip: padding-box;
      border-radius: 8px;
    }
    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  &-plugin {
    padding: 12px;
    height: 100%;
  }
  &-scrollbar {
    margin: 0 8px;
  }

  &-searchbar {
    margin: 0 8px;
  }

  &-home {
    color: var(--color-primary)
  }

  &-navigation {
    min-width: 240px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-versioning {
      padding: 8px;
      color: var(--text-muted);
      font-size: smaller;
    }

    & > ul {
      position: relative;
    }

    &-button {
      position: relative;
      box-sizing: border-box;
      display: block;
      padding: 1px 0;
      border-radius: 4px;
      transition: none;
    }
  }
}

.vx-addon-card {
  border-radius: 6px;
  background: var(--bg-overlay-1, var(--background-secondary-alt));
  padding: 8px;
  transition-property: background-color, box-shadow;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;

  &:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--shadow-low-hover);
  }

  &-description {
    margin-bottom: 8px;
    color: var(--text-normal);
    user-select: text;
    white-space: pre-wrap;
  }
  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    gap: 8px;
    &-right {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
  
  &-info {
    &-top {
      font-size: 20px;
  
      & > :first-child {
        color: var(--header-primary);
      }
      & > :last-child {
        color: var(--header-secondary);
        font-size: smaller;
      }
    }
    &-bottom {
      color: var(--header-muted);

      &.vx-selectable:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  &-icon {
    width: 50px;
    height: 50px;
    cursor: zoom-in;

    &:not(:first-child) {
      display: none;
    }

    &-wrapper {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      background: var(--bg-overlay-home-card, var(--background-tertiary));
      overflow: hidden;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    border-top: 1px solid var(--background-secondary);
    margin-top: auto;

    &-right {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }
  &-delete {
    [class*="contents-"] {
      display: flex;
    }
  }
}

.vx-addons-list {
  $gap: 12px;

  gap: #{$gap};
  padding: #{$gap};

  $grid: &-grid;

  &-grid {
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  &:not(&-grid) {
    display: flex;
    flex-direction: column;
  }

  &-wrapper {
    height: 100%;
  }
}

.vx-icon-button {
  color: var(--interactive-normal);
  cursor: pointer;

  &:not(.vx-disabled):hover {
    color: var(--interactive-hover);

    &:active {
      color: var(--interactive-active);
    }
  }

  &.vx-disabled {
    opacity: .7;
    cursor: not-allowed;
    color: var(--interactive-muted);
  }
}

.vx-header-icon {
  height: 24px;
  width: 24px;
  border-radius: 6px;
  cursor: zoom-in;
}
