#vx-notifications {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 101;
  max-height: clamp(400px, 70vh, 800px);
  overflow: hidden scroll;
  pointer-events: none;

  &:empty {
    display: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.vx-notification {
  background-color: var(--background-tertiary);
  overflow: hidden;
  border-radius: 6px;
  min-width: 200px;
  pointer-events: all;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &-type-info .vx-notification-info > :first-child {
    color: var(--info-help-foreground);
  }
  &-type-success .vx-notification-info > :first-child,
  &-type-positive .vx-notification-info > :first-child {
    color: var(--text-positive);
  }
  &-type-warn .vx-notification-info > :first-child,
  &-type-warning .vx-notification-info > :first-child {
    color: var(--info-warning-foreground);
  }
  &-type-danger .vx-notification-info > :first-child,
  &-type-error .vx-notification-info > :first-child {
    color: var(--status-danger);
  }

  &-header {
    padding: 6px;
    font-size: 18px;
    color: var(--header-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-info {
    display: flex;
    gap: 6px;
    align-items: center;
  }
  &-icon {
    display: flex;
  }
  &-close {
    display: flex;
    cursor: pointer;
    color: var(--interactive-normal);

    &:hover {
      color: var(--interactive-hover);

      &:active {
        color: var(--interactive-hover);
      }
    }
  }
  &-description {
    padding: 6px;
    margin: 6px;
    margin-top: 0;
    background: var(--background-primary);
    border-radius: 4px;
    color: var(--text-normal);
    user-select: text;
  }
  &-line {
    white-space: pre;
  }
  &-footer {
    margin: 6px;
    color: var(--text-normal);
  }
  &-slider {
    height: 4px;
    box-sizing: border-box;
    background-color: var(--brand-experiment);
    border-radius: 4px;

    &-wrapper {
      height: 4px;
      margin: 6px;
      margin-top: 0;
      background-color: var(--background-accent);
      overflow: hidden;
      border-radius: 4px;
    }
  }
}